.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: black;
}

.logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
